ADDRESS=0.0.0.0
PORT=3000
ENABLE_CORS=true
CANVAS_WIDTH=500
CANVAS_HEIGHT=500
COOLDOWN_SECS=10
RATE_LIMIT_BURST=10
RATE_LIMIT_PER_SECOND=10
BROADCAST_CAPACITY=1024
SNAPSHOT_ENABLED=true
SNAPSHOT_INTERVAL_SECS=300
SNAPSHOT_MAX=5
SNAPSHOT_DIR=snapshots/
