@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .rainbow-border {
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}
.rainbow-border::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    z-index: -1; /* Place behind the content */
}
}